.container-fluid
{
    background-color: 151822;
}
p.word { 
    word-spacing: 20px;
  }
  p.ltem{
   color: DDE2F4;
  }
  h1.tem{
    color:whitesmoke;
   }
   .if{
    max-width: 500%;
     height: auto;
     
   }
   .fon{
    word-spacing: 20px;
   }